::-webkit-scrollbar {
  width: .5rem;
  margin-right: .3rem;
  &-track {
    box-shadow: inset 0 0 5px $greySoft; 
    border-radius: .5rem;
  }
  &-thumb {
    background: $grey;
    border-radius: .5rem;
    &:hover {
      background: transparentize($greyHard, .65);
    }
  }
}

a {
  text-decoration: none;
  color: $link;
}

button:focus, input:focus, textarea:focus {
  outline: none !important;
}

[placeholder]::placeholder {
  color: $placeholder;
}

* {
  &:not(.fa):not([class^="ion-"]) {
    font-family: Helvetica; 
  }
  &:not(h1, h2, h3, h4, h5, h6) {
    font-size: #{$fontSize}rem;
  }
  body {
    overflow: hidden;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.jquery-preview-image {
  transition: .5s;
  z-index: -1;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: $darkTransparent;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  &.visible {
    z-index: 999;
    opacity: 1;
  }
  &.potrait, &.square {
    img {
      width: auto;
      height: 100%;
    }
  }
  &.landscape {
    img {
      width: 100%;
      height: auto;
    }
  }
  .img-wrapper {
    width: 80%;
    height: 80%;
    text-align: -webkit-center;
  }
}

.jodit-container, .jodit-dialog__content {
  b, strong {
    font-family: Helvetica !important;
    font-weight: 500;
  }
  a {
    color: $link;
  }
  ul, ol {
    list-style: revert;
    // margin: 1rem;
    padding: 1rem;
  }
  * {
    overflow-wrap: anywhere;
  }
  [style*="float: right"] {
    margin: 1rem 0 1rem 1rem;
  }
  [style*="float: left"] {
    margin: 1rem 1rem 1rem 0;
  }
}

.o {
  &-h {
    overflow: hidden;
  }
  &-wrap {
    overflow-wrap: anywhere;
  }
}

textarea {
  min-height: #{$textareaMinHeight}rem;
}

.jodit {
  @extend .mb-1;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 1px !important;
  .jodit-workplace {
    flex: 1;
    display: flex;
    @extend .mt-2;
    @extend .mb-2;
  }
}

#root {
  overflow: hidden;
  @import "SideMenu";
  @import "Container";
}
