::-webkit-scrollbar {
  width: .5rem;
  margin-right: .3rem;
  &-track {
    box-shadow: inset 0 0 5px $greySoft; 
    border-radius: .5rem;
  }
  &-thumb {
    background: $grey;
    border-radius: .5rem;
    &:hover {
      background: transparentize($greyHard, .65);
    }
  }
}

a {
  text-decoration: none;
  color: $link;
}

button:focus, input:focus, textarea:focus {
  outline: none !important;
}

[placeholder]::placeholder {
  color: $placeholder;
}

* {
  &:not(.fa):not([class^="ion-"]) {
    font-family: Bold; 
  }
  &:not(h1, h2, h3, h4, h5, h6) {
    font-size: #{$fontSize}rem;
  }
  body {
    overflow: hidden;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.jodit-wysiwyg, .preview-article {
  b, strong {
    font-family: Bold !important;
  }
  a {
    color: $link;
  }
  ul, ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
  // $list: ul ol;
  // @each $var in $list {
  //   #{$var} {
  //     margin-left: #{$fontSize * 1.5}rem;
  //     &:not([style*="list-style-type"]) {
  //       margin-left: 0;
  //       counter-reset: number;
  //       li {
  //         display: flex;
  //         counter-increment: number;
  //         &:before {
  //           content: if($var == ol, counter(number)".", "-");
  //           margin-right: .5rem;
  //         }
  //       }
  //     }
  //   }
  // }
}

.o {
  &-h {
    overflow: hidden;
  }
  &-wrap {
    overflow-wrap: anywhere;
  }
}

textarea {
  min-height: #{$textareaMinHeight}rem;
}

.jodit {
  @extend .mb-1;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 1px !important;
  .jodit-workplace {
    flex: 1;
    display: flex;
    @extend .mt-2;
    @extend .mb-2;
  }
}

#root {
  overflow: hidden;
  @import "SideMenu";
  @import "Container";
}
